#navbar {
  display: flex;
  justify-content: center;
  width: 1440px;
  height: 100px;
  left: 0;
  top: 0;
  background: #ffffff;
  box-shadow: 0 0.5px 0 #dddfe6;
}

#navbar > ul {
  width: 24px;
  height: 369px;
  left: 536px;
  top: 62px;
}

#home {
  flex: 1;
  position: fixed;
  width: 39px;
  height: 24px;
  left: 536px;
  top: 38px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #1a2236;
}

#portfolio {
  flex: 1;
  position: fixed;
  width: 66px;
  height: 24px;
  left: 625px;
  top: 38px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #1a2236;
}

#about {
  flex: 1;
  position: fixed;
  width: 48px;
  height: 24px;
  left: 741px;
  top: 38px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #1a2236;
}

#contact {
  flex: 1;
  position: fixed;
  width: 66px;
  height: 24px;
  left: 839px;
  top: 38px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #1a2236;
}

#line {
  position: fixed;
  width: 29px;
  height: 2px;
  left: 536px;
  top: 62px;

  background: #1a2236;
}

#presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 484px;
  height: 493px;
  left: 160px;
  top: 292px;
}

#presentation > article {
  width: 484px;
  height: 493px;
  left: 160px;
  top: 292px;
}

#name {
  flex: 1;
  position: fixed;
  width: 484px;
  height: 220px;
  left: 160px;
  top: 292px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 100%;
  color: #1a2236;
  border: 1px solid #1a2236;
}

#phrase {
  flex: 1;
  position: fixed;
  width: 484px;
  height: 84px;
  left: 160px;
  top: 620px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

#presentation > div {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 11.11%;
  right: 71.25%;
  top: 14.74%;
  bottom: 83.82%;
}

#button {
  position: fixed
  width: 254px;
  height: 70px;
  left: 160px;
  top: 715px;

  background: #1a2236;
}

#txtbutton {
  position: fixed;
  width: 203.68px;
  height: 26.47px;
  left: 185.16px;
  top: 736.76px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
}

#dots {
  position: fixed;
  width: 175px;
  height: 175px;
  left: 563px;
  top: 802px;
}

#geometry {
  position: fixed;
  width: 702px;
  height: 877px;
  left: 738px;
  top: 100px;
}
